PORT=5000
MONGO_URI=mongodb+srv://baitauuser:baitauuser@baitau-cluster.mtftsao.mongodb.net/?appName=baitau-cluster
JWT_SECRET=change_this_secret_key
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@baitau.kz
ADMIN_PASSWORD=Admin12345
CLIENT_DEMO_EMAIL=client@baitau.kz
CLIENT_DEMO_PASSWORD=Client12345
